<%- include ('../partials/admin_header') %>

<div class='col-md-8' id='content'>
    <div class='row'>
        <div class='container1' id='totalusers'>All users<br /><span id='number'><%= allUsers %></span><br /><span id='percentage'
                style='color: blue'>default</span> <span id='month'></span>
        </div>
        <div class='container1' id='newusers'>New Users<br /><span id='number'><%= newUsers %></span><br /><span id='percentage2'
                style='color: darkorange'>default</span> <span id='month'></span>
        </div>
        <div class='container1' id='sales'>Accepted Users<br /><span id='number'><%= acceptedUsers %></span><br /><span id='percentage'
                style='color: green'> default</span> <span id='month'></span>
        </div>
        <div class='container1' id='invent'>Rejected Users<br /><span id='number'><%= rejectedUsers %></span><br /><span id='percentage'
                style='color: red'> default </span> <span id='month'></span>
        </div>

    </div>
    <div class='container1' id='content2'>
        <table class='table table-striped table-condensed' id='users-table'>
            <thead>
            </thead>
        </table>
    </div>
</div>

<script src="/scripts/admin/datatable.js" defer></script>
<%- include ('../partials/admin_footer') %>